step_fuction.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Serialize_image",
    "States": {
      "Serialize_image": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:934421875319:function:lambdaa:$LATEST"
        },
        "Next": "classification"
      },
      "classification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:934421875319:function:lambdaa2:$LATEST"
        },
        "Next": "filter_low_confidence"
      },
      "filter_low_confidence": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:934421875319:function:filter_low_confidence:$LATEST"
        },
        "End": true
      }
    }
  }